.container {
  min-height: 100vh;
  display: flex;
  

  .imageLogo {
    background-image: url("../img/backgroundimg.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
    

    .logo {
      
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20vh;
      padding: 100px; 
    };
};
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  };

};





