.container {
  min-height: 100vh;
  display: flex;
  font-family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif'";
  

  .imageLogo {
    background-image: url("../img/backgroundimg.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
    

    .logo {
      
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20vh;
      padding: 100px; 
    };
};
  .form {
    padding: 150px 50px;
    p {
      text-align: center;
      font-size: 24px;
  font-weight: bold;
  margin: 25px;
    }

    .input-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 84px;
        row-gap: 18px;
        margin-bottom: 18px;
    }
    .submit-button {
      text-align: center;
    }
    
  };



};





